@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: default;
}

:root {
  font-family: "Montserrat";
}

.truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-description:hover {
  -webkit-line-clamp: unset;
  white-space: normal;
  cursor: pointer;
  overflow: visible;
}
